
<p>
  <b>Content filename:</b>
  <%= @document.file_name %>
</p>

<p>
  <b>Content type:</b>
  <%= @document.file_type %>
</p>

<p>
  <b>Content file size:</b>
  <%= @document.file_size %>
</p>

<p>
  <b>Caption:</b>
  <%= @document.caption %>
</p>

<p>
  <b>Description:</b>
  <%= @document.description %>
</p>

<p>
  <b>Created at:</b>
  <%= @document.created_at %>
</p>

<p>
  <b>Uploader:</b>
  <%= @document.user.name %>
</p>

<p>
  <b>Lecturer:</b>
  <%= @document.lecturer.name %>
</p>
<p>
  <b>Semester:</b>
  <%= @document.semester.name %>
</p>
<p>
  <b>Course:</b>
  <%= @document.course.name %>
</p>
<p>
  <%= link_to "Download", @document.file_path.to_s %>

</p>
<h2>Comments</h2>
<% @document.comments.each do |comment| %>
    <div class="comment">

    <p>
    <b>Author:</b>
    <%= comment.user.name %>
  </p>
     <p>
    <b>Date:</b>
    <%= comment.created_at %>
  </p>
  <p>
    <b>Comment:</b>
    <%= comment.text %>
  </p>
    </div>

<% end %>
<h2>Add a comment:</h2>
<%= form_for([@document, @document.comments.build]) do |f| %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= current_user && current_user.admin? ? link_to('Edit', edit_document_path(@document)) :""  %>
<%= current_user && current_user.admin? ? link_to('Destroy', @document, confirm: 'Are you sure?', method: :delete):"" %>
<%= link_to 'Back', documents_path %>
