<h1>Listing lecturers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lecturers.each do |lecturer| %>
  <tr>
    <td><%= lecturer.name %></td>
    <td><%= link_to 'Show', lecturer %></td>
    <td><%= link_to 'Edit', edit_lecturer_path(lecturer) %></td>
    <td><%= link_to 'Destroy', lecturer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lecturer', new_lecturer_path %>
